.holder {
  position: relative;
  width: 100%;
  height: 318px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcwrapper {
  position: relative;
  width: 100%;
  height: 318px;
  box-sizing: border-box;
  color: #e3e3e1;
  padding: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}

.loadingcalcwrapper {
  position: relative;
  width: 100%;
  height: 318px;
  box-sizing: border-box;
  color: #e3e3e1;
  padding: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.gearwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  pointer-events: none;
  animation: rotation infinite 10s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calccolumn {
  width: 300px;
  margin: 10px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label:last-child {
  grid-column: 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.result {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.labelContent {
  color: #222;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Roboto;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

.slider-input-root-4-0-5 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 180px;
  width: 100%;
  box-sizing: inherit;
  font-size: 0;
  line-height: 0;
  font-family: SeroPro, sans-serif;
  margin-bottom: 10px;
}

.slider-input-root-4-0-5:not(:last-child) {
  margin-bottom: 25px;
}

.slider-input-root-4-0-5:before {
  content: attr(data-left-hint);
  left: 0;
  position: absolute;
  bottom: -30px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-indent: 0;
  font-family: SeroPro, sans-serif;
  font-style: normal;
  font-stretch: normal;
}

.dc-input-6-1-2 {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dc-color-white, #fff);
  border: 1px solid var(--dc-color-grey-200, #d3d4d4);
  transition: border-color 0.2s;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  height: 52px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dc-input__input-container-6-1-2 {
  height: 52px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: inherit;
}

.dc-input__input-6-1-2 {
  padding-top: 29px;
  width: 100%;
  height: calc(100% - 2px);
  margin: 1px 0;
  padding: 29px 11px 12px 11px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  text-overflow: ellipsis;
  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--dc-color-afro, #242629);
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-indent: 0;
  font-family: SeroPro, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
}

.dc-input__label-6-1-2 {
  transform: scale(0.75) translateY(-16px);
  position: absolute;
  top: 16.5px;
  left: 12px;
  width: calc(100% - 24px);
  font-size: 16px;
  color: var(--dc-color-grey-640, #737476);
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  transform-origin: left;
  transition: 0.2s;
  white-space: nowrap;
  pointer-events: none;
  text-align: left;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-indent: 0;
  font-family: SeroPro, sans-serif;
  font-style: normal;
  font-stretch: normal;
}

.slider-root-4-0-5 {
  position: absolute;
  bottom: -9px;
  display: flex;
  width: 100%;
  height: 20px;
  min-width: 180px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}

.slider-root-4-0-5:before {
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-indent: 0;
  font-family: SeroPro, sans-serif;
  font-style: normal;
  font-stretch: normal;
  content: attr(data-left-hint);
  left: 0;
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  pointer-events: none;
}

.slider-axis-4-0-5 {
  height: 8px;
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  font-size: 0;
  line-height: 0;
}

/* .slider-axis-4-0-5:before {
  border-radius: 0 0 5px 5px;
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  width: calc(100% - 20px);
  height: 100%;

  transition: background-color 0.2s linear;
  font-size: 0;
  line-height: 0;
} */

.slider-axis--fill-4-0-5 {
  width: 151px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 10px;
  background-color: var(--dc-color-green, #53b374);
  transition: 0.2s;
  font-size: 0;
  line-height: 0;
}

.slider-circle-4-0-5 {
  transform: translateX(151px);
  top: -1px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -15px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  font-size: 0;
  line-height: 0;
}

.slider-circle-inner-4-0-5 {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(36, 38, 41, 0.24);
  transition: 0.2s;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #fff;
  font-size: 0;
  line-height: 0;
}

.slider-circle-inner-4-0-5:before {
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: var(--dc-color-white, #fff);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(36, 38, 41, 0.24);
  transition: 0.2s;
  font-size: 0;
  line-height: 0;
}

.slider-input-root-4-0-5::after {
  content: attr(data-right-hint);
  right: 0;
  position: absolute;
  bottom: -30px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-indent: 0;
  font-family: SeroPro, sans-serif;
  font-style: normal;
  font-stretch: normal;
}

/* Толщина палки и цвет справа, закругление, цвет слева */
input[type='range'] {
  -webkit-appearance: none;
  height: 8px;
  background: #bdbdbd;
  /* border-radius: 5px; */
  background-image: linear-gradient(#61456a, #61456a);
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  /* а то короткая по умолчанию */
  border-radius: 0 0 5px 5px;
}

/* сам кружок - его цвет высота ширина форма */
/* transition непонятно для чего */
/* на firefox есть бордюр его надо занулить */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #61456a;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #61456a;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
/* полоска через центр ползунка - разная в firefox и chrome */
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

/* pseudo-classes тень при наведении на шарик */
input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(97, 69, 106, 0.16);
}

input[type='range']::-moz-range-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(97, 69, 106, 0.16);
}

/* тень при нажатии на шарик становится еще больше */
input[type='range']::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 0px 14px rgba(97, 69, 106, 0.16);
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input[type='range']::-moz-range-thumb:active {
  box-shadow: 0px 0px 0px 14px rgba(97, 69, 106, 0.16);
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
