.slider-root-4-0-5:before {
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-indent: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-stretch: normal;
  content: attr(data-left-hint);
  left: 0;
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  pointer-events: none;
}

.slider-axis-4-0-5 {
  height: 8px;
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  font-size: 0;
  line-height: 0;
}
