.slider-root-4-0-5:before {
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-indent: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-stretch: normal;
  content: attr(data-left-hint);
  left: 0;
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  pointer-events: none;
}

.slider-axis-4-0-5 {
  height: 8px;
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  font-size: 0;
  line-height: 0;
}

.slider-axis--fill-4-0-5 {
  width: 151px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 10px;
  background-color: var(--dc-color-green, #53b374);
  transition: 0.2s;
  font-size: 0;
  line-height: 0;
}

.slider-circle-inner-4-0-5 {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(36, 38, 41, 0.24);
  transition: 0.2s;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #fff;
  font-size: 0;
  line-height: 0;
}

.slider-circle-inner-4-0-5:before {
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: var(--dc-color-white, #fff);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(36, 38, 41, 0.24);
  transition: 0.2s;
  font-size: 0;
  line-height: 0;
}
