body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'fjalla';
  src: local('fjalla'), url(./fjalla-one-v4-latin-regular.woff) format('woff');
}


@font-face {
    font-family: 'pt_sansregular';
    font-weight: normal;
    font-style: normal;
	src: local('pt_sansregular'), url('./PTS55F-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./roboto-v18-latin-regular.woff') format('woff');       
}
