body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'fjalla';
  src: local('fjalla'),
    url(./fonts/fjalla-one-v4-latin-regular.woff) format('woff');
}

@font-face {
  font-family: 'pt_sansregular';
  font-weight: normal;
  font-style: normal;
  src: local('pt_sansregular'),
    url('./fonts/PTS55F-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./fonts/roboto-v18-latin-regular.woff') format('woff');
}

.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #bdbdbb;
  padding: 40px 50px;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 10px;
  }
}

/**
 * Header
 */

header {
  grid-column: 1 / span 2;
  background-color: #61456a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px;
}

.logotype {
  height: 150px;
}

@media (max-width: 800px) {
  header {
    padding: 20px;
  }

  .logotype {
    height: 50px;
  }
}

/**
 * Navigation
 */

.navigation {
  grid-column: 1 / span 2;
  background-color: #000;
  padding: 0px 30px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  list-style: none; /* Remove list bullets */
  overflow: hidden;
}

.cell {
  height: 45px;
  line-height: 45px;
  padding: 0px 20px 0px 0px;
}

.v {
  color: #e3e3e1;
  text-decoration: none;
  font-size: 22px;
  font-family: fjalla;
}

.v:hover {
  color: #999999;
}

.activeBlue {
  color: #32a7e0;
  text-decoration: none;
  font-size: 22px;
  font-family: fjalla;
}

@media (max-width: 800px) {
  .navigation {
    padding: 0px 20px;
  }
  .cell {
    height: 35px;
    line-height: 35px;
    padding: 0px 15px 0px 0px;
  }

  .v {
    color: #e3e3e1;
    text-decoration: none;
    font-size: 18px;
    outline: none;
  }
  .activeBlue {
    color: #32a7e0;
    text-decoration: none;
    font-size: 18px;
    font-family: fjalla;
  }
}

main {
  background: #fff;
  color: #222;
  display: flex;
  margin: 0;
  padding: 30px;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 22px;
  font-family: fjalla;
}

section {
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #e3e3e1;
  padding: 0;
}

.sectionTitle {
  color: #aaa;
  line-height: 50px;
  padding: 0px;
  box-sizing: border-box;
  font-family: fjalla;
  font-size: 45px;
  font-weight: 900;
  font-style: normal;
  white-space: wrap;
}

.sectionContent {
  color: #222;
  padding: 12px 0px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Roboto;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

aside {
  background-color: #e4e4e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  min-height: 800px;
}

@media (max-width: 800px) {
  main {
    grid-column: 1 / span 2;
    padding: 20px;
  }

  aside {
    grid-column: 1 / span 2;
    padding: 20px;
  }

  .sectionTitle {
    line-height: 30px;
    font-size: 25px;
  }
}

/**
 * Sidebar
 */

.sidebarwidget {
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #e3e3e1;
  padding: 0;
}

.sidebarTitle {
  background-color: #999999;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0px 7px;
  box-sizing: border-box;
  font-size: 22px;
  font-family: fjalla;
  overflow: hidden;
}

.sidebarContent {
  color: #222;
  padding: 12px 0px;
  box-sizing: border-box;
  font-size: 13px;
  font-family: Roboto;
  line-height: 20px;
}

/**
 * Footer part of website
 */

.rooter {
  grid-column: 1 / span 2;
  background-color: #3d2d43;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.footerwidget {
  flex: 25%;
  max-width: 25%;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}

.footertitle {
  font-size: 22px;
  font-family: fjalla, Charcoal, sans-serif;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #a27eaf;
  margin-bottom: 8px;
  margin-top: 0px;
}

.footeritemnew {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #222;
}

.footerul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footerli {
  font-size: 14px;
  font-family: pt_sansregular;
  line-height: 21px;
  color: #fff;
  padding: 0 0 5px;
  text-decoration: none;
}

.lowitem {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #222;
}

@media (max-width: 800px) {
  .footerwidget {
    flex: 100%;
    max-width: 100%;
    padding: 20px;
  }
}

footer {
  grid-column: 1 / span 2;
  background-color: #3d2d43;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

/**
 * Bottom
 */

.bottom {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #3d2d43;
  font-size: 14px;
  font-family: pt_sansregular;
  padding: 0px 30px;
  color: #fff;
  height: 50px;
}

@media (max-width: 800px) {
  .bottom {
    padding: 20px;
  }
}
