body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'fjalla';
  src: local('fjalla'), url(./fonts/fjalla-one-v4-latin-regular.woff) format('woff');
}


@font-face {
    font-family: 'pt_sansregular';
    font-weight: normal;
    font-style: normal;
	src: local('pt_sansregular'), url('./fonts/PTS55F-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/roboto-v18-latin-regular.woff') format('woff');       
}


.wrapper {
  background-color: #bdbdbb;
  padding: 40px 50px;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 20px 20px;
  }
}


/**
 * Header
 */

.header {
  display: flex;
  box-sizing: border-box;
  height: 200px;
  background-color: #61456a;
  padding: 20px 30px;
}

.logoStyle {
	background-color: #61456A;
	max-width: 296px;
}

@media (max-width: 800px) {
  .header {
    height: 200px;
    padding: 20px 30px;
  }
}

/**
 * Navigation
 */

.navigation {
	background-color: #000;
	padding: 0px 30px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	list-style: none; /* Remove list bullets */
	overflow:hidden;
}

.cell {
	height:45px;
	line-height: 45px;
	padding: 0px 20px 0px 0px;
}

.v {
	color: #e3e3e1;
	text-decoration: none;
	font-size: 22px;
	font-family: fjalla;
	outline: none;
}

@media (max-width: 800px) {
	.navigation {
		padding: 0px 30px;
	}
	.cell {
		height:35px;
		line-height: 35px;
		padding: 0px 15px 0px 0px;
	}

	.v {
		color: #e3e3e1;
		text-decoration: none;
		font-size: 18px;
		outline: none;
	}
}


/**
 * Main part of website
 */

.main-wrap {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex: 70%;
  max-width: 70%;
  background-color: #fff;
  margin: 0;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}

.contentheadline {
    font-family: fjalla;
    font-size: 45px;
    color: #aaa;
}

.contenttext {
	font-family: Roboto; 
	font-size: 14px; 
	line-height: 20px; 
	color: #222;
}

.contain {
	display:flex;
	justify-content: space-around;
}

.itemcontent {
	display:flex;
	flex-direction: column;
}

.author {
	margin:0 auto;
	font-size: 22px;
	font-family: fjalla;
	padding:10px;
}



.sidebar {
  flex: 30%;
  max-width: 30%;
  background-color: #e4e4e2;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}



@media (max-width: 800px) {
  .content {
    flex: 100%;
    max-width: 100%;
  }
  
  .contain {
	display:flex;
	flex-wrap: wrap;
  }
  
  .contentheadline {
    font-size: 22px;
  }
  .sidebar {
    flex: 100%;
    max-width: 100%;
  }
}






/**
 * Sidebar
 */

.sidebarwidget {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #e3e3e1;
  padding: 0;
}

.sidebarTitle {
	background-color: #999999;
	color: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0px 7px;
	box-sizing: border-box;
	font-size: 22px;
	font-family: fjalla;
}

.sidebarContent {
	color: #222;
	padding: 12px 0px;
	box-sizing: border-box;
	font-size: 13px;
	font-family: Roboto;
	line-height: 20px;
}




/**
 * Footer part of website
 */



.rooter{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: #3d2d43;
}

.footerwidget {
	flex: 25%;
	max-width: 25%;
	margin: 0;
	padding: 30px;
	box-sizing: border-box;
}

.footertitle {
	font-size: 22px;
    font-family: fjalla, Charcoal, sans-serif;
    font-weight: normal;
    line-height:30px;
	text-transform: uppercase;
	color: #a27eaf;
	margin-bottom: 8px;
	margin-top: 0px;
}

.footeritemnew {
	font-family: Roboto; 
	font-size: 14px; 
	line-height: 20px; 
	color: #222;
}

.footerul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.footerli {
	font-size: 14px;
	font-family: pt_sansregular;
	line-height: 21px;
    color: #fff;
	padding: 0 0 5px;
	text-decoration: none;
}

.lowitem {
	font-family: Roboto; 
	font-size: 14px; 
	line-height: 20px; 
	color: #222;
}

@media (max-width: 800px) {
  .footerwidget {
    flex: 100%;
    max-width: 100%;
  }
}


/**
 * Bottom
 */

.bottom {
	display: flex;
	box-sizing: border-box;
	background-color: #3d2d43;
	font-size: 14px;
	font-family: pt_sansregular;
	padding: 30px 30px 30px 30px;
	color: #fff;
}

